= render 'shared/sections', :path => menu_index_path

%h1 Menú
- num_cats = @foodcats.count

.round
  - (0..2).each do |num|
    .column3
      - cats = (num..num_cats-1).step(3).each do |cat|
        = render @foodcats[cat]
