/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body{
  background: #000;
  color: gold;
  font-size: 75%;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  margin-left: 0;
  margin-top: 0;
}

.container {
  width: 750px;
}
header {
  padding-top: 20px;
}
header img {
  padding: 1em;
  background: #222;
}
section {
  margin-top: 1em;
  padding: 1em;
  margin-top: 25px;
  background: #222;
  float: left;
  width: 750px;
}

section#mainsec {
  margin-top: 0;
  padding-top: 30px;
}
section h1 {
  font-size: 2em;
  text-shadow: -1px 1px #888888;
}
/* Links */
a {
  color: #ccc;
  text-decoration: none;
}
a:hover {
  color: #ccc;
  text-decoration: underline;
}
a:visited {
  color: #ccc;
}
/* Navigation */
nav {
  float: right;
}

nav {
  background-color: #222;
  padding: 0 0.7em;
  white-space: nowrap;
}
nav div.menu_item {
  margin: 0;
  padding: 0.2em 0;
  float: left;
}

nav ul {
  list-style-type: none;
  display: inline-block;
}

nav div.menu_item a {
  padding: 0 5px;
  margin: 0 5px;
  font-weight: bold;
}
nav div.menu_item a:visited {
  color: #ccc;
}
nav div.menu_item a:hover {
  background: #050505;
  color: gold;
  text-decoration: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 6px;
}

nav div.ico img {
  vertical-align: middle;
}

nav.h_menu {
  background: url(/devassets/menu_backg.gif) repeat;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 754px;
  font-size: 120%;
  font-weight: bold;
  border-bottom: 1px solid gold;
  height: 22px;
}

nav.h_menu div.r_menu {
  margin-left: 13em;
  float: right;
}

.success {
    background: none repeat scroll 0 0 #36BF02;
    border: 2px solid #C6D880;
    color: #264409;
}

.error, .alert, .notice, .success, .info {
    /*border: 2px solid #DDDDDD;*/
    margin-bottom: 1em;
    padding: 0.8em;
}

.notice, .error {
    background-color: #AA2233;
    border: 2px solid #AA8293;
}

li.csection {
  bakground: #000;
  font-color: gold;
}
/* Round corners */
.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Food Categories */
.foodcat{
  background: #000;
  
}
.foodcat td, h2{
  /*float: left;*/
 padding-left: 1em;
 padding-right: 1em;
}

.column, .column2, .column3 {
  margin-left: 0.7em;
  margin-right: 0.7em;
  float: left;
  margin-bottom: 2em;
}

.col5, .col10, .col15, .col20, .col23, .col25, .col30, .col35, .col40, .col45, .col50, .col55, .col60, .col65, .col70, .col75, .col80, .col85, .col90, .col95, .col100 {
  float: left;
}

.col5 {
  width: 5%;
}

.col10 {
  width: 10%
}

.col15 {
  width: 15%;
}

.col20 {
  width: 20%
}

.col23 {
  width: 23%;
}

.col25 {
  width: 25%;
}

.col30 {
  width: 30%;
}

.col35 {
  width: 35%;
}

.col40{
  width: 40%;
}

.col45{
  width: 45%;
}

.col50 {
  width: 50%;
}

.col55{
  width: 55%;
}

.col60 {
  width: 60%;
}

.col65 {
  width: 65%;
}

.col70 {
  width: 70%;
}

.col75 {
  width: 75%;
}

.col80{
  width: 80%;
}

.col85{
  width: 85%;
}

.col90 {
  width: 90%;
}

.col95{
  width: 95%;
}

.col100 {
  width: 100%;
}

.mar0 {
  margin-bottom: 0;
}

.column3 {
  width: 30%;
}
.column2 {
  width: 45%;
}
.column {
  width: 95%;
}

div.float{
  float: left;
}
div.rfloat{
  float: right;
}

.form_black {
  background-color: #000;
  padding-left: 1em;
  padding-right: 1em;
}

div.foodcat, div.cash_month{
  width: 100%;
  margin-bottom: 2em;
  padding-left: 0.25em; 
  padding-right: 0.25em;
  padding-bottom: 1em;
  border: 2px solid #666666;
}

div.foodcat h2 {
  font-size: 1.1em;
}

div.foodcat span {
  font-size: 0.7em;
}

div.food{
  margin-bottom: 0.5em;
}

div.fname{
  width: 75%;
}

div.fprice{
  width: 25%;
  text-align: right;
}

div.fdesc{
  width: 75%;
  color: #ccc;
  font-size: 90%;
}

div.field label {
  width: 30%;
}

div.field input {
}

div.field, div.actions {
  margin-bottom: 10px;
}

.total {
  margin-top: 1em;
  text-align: right;
  width: 100%;
  font-weight: bold;
}

.textr {
  text-align: right;
}

div.fname input {
  width: 100%;
}

div#bill div{
  /*background-color: #264426;*/
  /*font-size: 95%;*/
  font-weight: bold;
}

div.bill_head {
  width: 100%;
  margin-bottom: 0.7em;
}


/* Cats y bills' links */
div.foodcat a {
  color: #ccc;
  text-decoration: none;
}
/*div.foodcat a:hover {
  color: gold;
  text-decoration: underline;
}*/
div.foodcat a:visited {
/*  color: gold;*/
}

a.food_button {
  font-weight: bold;
	padding-left: 0.2em;
	padding-right: 0.2em;
}
a:visited.food_button {
  color: #ccc;
} 

a:hover.food_button {
  background: gold;
  color: #000;
  text-decoration: none;
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 3px;
	padding-left: 0.2em;
	padding-right: 0.2em;
}


div.pay input {
  width: 10em;
}

/*div.foodcat.state1{
  background-color: #880800;
}*/

div.foodcat.state2{
  background-color: #13661b;
  color: #DDD;
}

div.foodcat.state3{
  background-color: #12538a;
  color: #DDD;
}

div.foodcat img {
	border: none;
}

div.cash_month {
  background-color: #000;
}

/* margenes */

.marI025 {
  margin-left: 0.25em;
}

.marD025 {
  margin-right: 0.25em;
}

.marI05 {
  margin-left: 0.5em;
}

.marD05 {
  margin-right: 0.5em;
}

.marI07 {
  margin-left: 0.7em;
}

.marD07 {
  margin-right: 0.7em;
}

.marI1 {
  margin-left: 1em;
}

.marD1 {
  margin-right: 1em;
}


