<header>
  <div class="round">
    <%= image_tag('lafont.jpg', :alt => "La font")  %>
  </div>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Menu", 'menu' %></li>
    </ul>
  </nav>
</header>
                
